body{
	background: #CCCCCC;
	margin: 0px;
}
nav {
	position: absolute;
	top:-10px;
	right: 100px;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	border:2px solid #4F4F4F;
	border-radius: 10px;
}
nav a:hover{
	color:#FF4500;
}
#club{
	width: 100%;
	height: 410px;
}
.principal{
	background:#CCCCCC;
	padding:30px;
}
.titulo-principal{
	padding-left: 20px;
	position:relative;
	width: 940px;
	margin: 0 auto;
}
.titulocentralizado{
	text-align:center
}
p{
	text-align:center
}
#p1{
	font-size:24px
}
em strong{
	color:#FF0000
}
.itens{
	font-style: italic;
}
.Beneficios{
	background: #ffffff;
	padding: 20px;
}
ul{
	font-size:19px;
	display:inline-block;
	vertical-align:top;
	width: 20%;
	margin-right:15%;
}
.ft2{
	width: 50%
}